.conteiner {
    max-width: 1920px;
    width: 100%;
}
.headerdiv {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    display: flex;
    width: 68%;
    height: 103px;
    margin: 0 auto;
    display: flex;
}

.h1 {width: 300px;
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
}
.h1 div {
    display: flex;
}
.dot {
    padding-top: 5px;
    width: 10px;
    height: 15px;
}
.p1 {
    padding-left: 5px;
    font-family: 'Acumin Pro-N';
    font-size: 29px;
}
span {
    font-family: 'Acumin Pro-B';
}
.p3:hover {
    font-family: 'Acumin Pro-N';
    color: red;
    font-size: 20px;
    transition: all 0.5s;
}
.h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    height: 21px;
    font-family: 'Acumin Pro-N';
    font-size: 16px;
}
.body1 {
    width: 68%;
    height: 269.06px;
    margin: 30px auto;
    background-image: url(/images/image1.png);
    background-repeat: no-repeat;
    background-position: center;
}
.body11 {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(223, 223, 223, 0.4) 
}
.headerbox {
    align-items: center;
    height: 26px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.butbox {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 263px;
    height: 26px;
}
.but1 {
    width: 124PX;
    height: 26PX;
    border-radius: 10px;
    border: none;
    background-color:rgb(187, 236, 236);
    color: rgb(21, 79, 79);
}
.p4 {
    font-size: 15px;
    color: rgb(197, 192, 192);
}
.p5 {
    color: rgb(237, 231, 231);
    font-size: 12px;
}
h1 {
    width: 80%;
    color: white;
    font-size: 30px;
    font-family: 'Acumin Pro-B';
}
.headerbox2 {
    padding-top: 8px;
    width: 90%;
    margin: 0 auto;
}
.p6 {
    padding-top: 16px;
    width: 90%;
    font-family: 'Acumin Pro-N';
    font-size: 15px;
    color: white;
}
.butbox2 {
    padding-top: 16px;
    width: 90%;
    margin: 0 auto;
}
.but2 {
    margin: 0 auto;
    width: 186px;
    height: 44px;
    background-color: rgb(52, 191, 191);
    color: white;
    border-radius: 10px;
    border: none;
}